html, body {
  height: 100%;
}

body {
  background: var(--body-bg);
  color: var(--body-text);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

app-root {
  display: block;
  height: 100%;
}

* {
  box-sizing: border-box;
}

router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-track {  width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { height: 10px; background-color: var(--scrollbar-bg);}
