/*
Color name generator:
http://chir.ag/projects/name-that-color/#989898
Can be used for component "--modifierName"
*/

:root {
  --body-bg: #2b2d2d;
  --body-text: white;

  --color-primary: #2196f3;
  --color-accent: #4caf50;
  --color-warn: #f44336;
  --color-dark: #424242;

  --scrollbar-bg: #161616;
  --color-favor: rgba(33, 150, 243, 0.2);
  --color-against: rgba(244, 67, 54, 0.2);
}
